/* CSS Document */

H1 {
	font-family: 'Montserrat', sans-serif;
	font-style: bold;
	font-weight: normal;
	color: grey;
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
	line-height: 30;
	text-align: left;
	letter-spacing: 0px;
}

P {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	display: block;
	font-size: 12px;
	margin-bottom: 10px;
	line-height: 18px;
	text-align: left;
	letter-spacing: 0.2px;
}

P-ITALIC {
	font-family: 'Montserrat', sans-serif;;
	font-style: italic;
	font-weight: normal;
	color: #666666;
	display: block;
	font-size: 12px;
	margin-bottom: 10px;
	line-height: 18px;
	text-align: left;
	letter-spacing: 0.5px;
}

A {
	color: #0066CC;
	display: inline;
}

A:HOVER {
	color: #111111;
	display: inline;
}
